<script src="/js/register.js"></script>
<h2>Register</h2>
<form id="register-form" action="" onsubmit="return submitRegister(event);">
    <div>
        <label for="name">Nombre:</label>
        <input id="name" name="name" type="text">
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" name="email" class="email" type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <label for="c-password">Confirma el password:</label>
        <input id="c-password" type="password">
    </div>
    <br>
    <button type="submit">Agregar nuevo usuario</button>
</form>